*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(217, 223, 206);
 
}
.container{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.main-square {
  
  min-height: 500px;
  min-width: 500px;
/*
  top: 60%;
  left: 50%;
  position: absolute;
  margin-top: -250px;
  margin-left: -250px;
  */
  border: black;
  border-style: solid;
  background-color: black;
  display: grid;
  grid-gap: 1px;
  border-color: black;
  margin: 2rem auto;



}
header {
margin-top: 0;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
}




.slider {
  -webkit-appearance: none;
  width: 400px;
  height: 25px;
  background: #9b9999;
  outline: none;
  opacity: 0.9;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #000000;
  cursor: pointer;
}

label {
  font-weight: bold;
  font-size: 20px;
}

#main-square div {
  background-color: whitesmoke;

}
@media (max-width: 450px) {

  header {
    font-size: 1rem;
  }

  .main-square {
    width: 300px;
    height: 300px;
  }
  .slider{
    width: 250px;
  }
}
